@page "/stats"
<div class="flex px-4">
    <h1 class="text-4xl flex-1 ">Stats</h1>
</div>
<div class="flex p-4">
    <i class="fas fa-chevron-left text-3xl"></i>
    <h2 class="text-3xl m-auto">Today</h2>
    <i class="fas fa-chevron-right text-3xl"></i>
</div>
<div class="border-gray-400 mb-3">
    <div class="select-none bg-gray-50 shadow-md rounded-md flex flex-col flex-1 items-center p-4">
        @if (_selectedStats != null)
        {
            <h2>@_selectedStats._id</h2>
            <h2>@_selectedStats.CardsAnswered</h2>
            <h2>@_selectedStats.HesitantAnswers</h2>
            <h2>@_selectedStats.IncorrectAnswers</h2>
            <h2>@_selectedStats.PerfectAnswers</h2>
            <h2>@_selectedStats.NeverReviewedAnswers</h2>
        }
        else
        {
            <h1>No Stats yet!</h1>
        }
    </div>
</div>